@import "../../../../scss/theme/variables";
@import "../../../../scss/theme/breakpoints";
@import "../../../../scss/styles/mixins";

.form-upload {
    @include flexCol(flex-start, space-between);
    color: $white-color;
    position: relative;
    height: 40rem;
    
    @include sm {
        height: 27rem;
        width: 27rem;
    }

    &__spinner {
        position: absolute;
        top: 5rem;
        left: 3.5rem;

        @include sm {
            left: 10rem;
        }
    }

    span {
        font-size: 2rem;
    }

    &__input {
        @include authInput();
        width: 100%;
    }

    &__upload{
        width: 100%;
        @include flexCol(center, center);

        @include sm {
            @include flexRow(center, space-between);
        }
        
        &--btn{
            width: 100%;
            border-radius: 0.5rem;
            padding: 0.4rem;
            background-color: $gray-color;
            color: $alert-color;
            font-family: $montserrat;
            font-size: 1.2rem;
            box-shadow: 2px 2px 8px 0px #9898;
            cursor:pointer;
            text-align: center;
            margin: 0.4rem 0rem;
            
            @include sm{
                width: 10rem;
                height: 4rem;
                padding: 1.2rem;
                border-radius: 0.7rem;
            }

            &:hover{
                background-color: $alert-color;
                color: $purple-color
            }

            &:active {
                transform: scale(0.99);
              }

            &--hidden{
                 display: none
             }
        }
    }
    button {
        @include authButton();
        width: 100%;
        border: 1px solid $alert-color;
    }

    &__url{
        @include authInput();
        width: 100%;
        
        &--close{
            display: none;

        }
    }

    ul {
        list-style: none;
        @include flexRow(center, center);
        

        li {
            @include flexRow(center, center);
            background-color: $gray-color;
            color: $purple-color;
            padding: 0.3rem 0.5rem 0.3rem 0.8rem;
            border-radius: 12rem;
            margin-right: 0.5rem;
            text-align: center;
            margin-bottom: 0.6rem;
            box-shadow: 1px 1px 10px 0px #9898;
        }
    }

    &__remove-tag{
        font-size: 1.3rem;
            margin-left: 0.4rem;
            color: $alert-color;
            cursor: pointer
    }
}