@import "../../../../scss/theme/variables";
@import "../../../../scss/theme/breakpoints";
@import "../../../../scss/styles/mixins";

.search-nav{
    @include flexCol(center, center);
    @include inputSearchCancelBtn();
    width: 100%;
    top: 6rem;
    background-color: $white-color;

    &__input {
        background-color: $purple-color;
        border: none;
        width: 90%;
        font-size: 1rem;
        font-family: $montserrat;
        color: $white-color;
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        outline-color: $alert-color;
        box-shadow: 2px 2px 10px 2px #9898;

        &::placeholder {
            color: $gray-color;
        }
    }

    &__filter {
        @include flexRow(center, space-around);
        gap: 0.7rem;
        flex-wrap: wrap;
        padding: 1rem;
        
        @include sm {
            justify-content: space-between;
            width: 35rem;
            height: 4rem;
            flex-wrap: nowrap;
            gap: 0;
            padding: 0;
        }
        
        a {
            width: 3.5rem;
            padding: 0.2rem 0rem;
            text-align: center;
            border-radius: 18rem;
            cursor: pointer;
            background-color: $gray-color;
            font-size: 0.7rem;
            
            @include sm {
                width: 7rem;
                padding: 0.5rem 1rem;
                font-size: 1rem;
            }
            
            &:link, &:visited, &:active {
                text-decoration: none;
            }
        }
        
        &--disactive {
            box-shadow: 1px 1px 10px 0px #9898;
        }
        
        &--active {
            box-shadow: 1px 1px 6px 0px $alert-color;
            color: $alert-color;
        }
    }

}