@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.container-own-gifs {
    @include flexRow(center, center);
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 1rem 3rem 2rem;

    &__gifs {
        @include flexRow(flex-start, center);
        width: 20.7rem;
        padding: 1.5rem;
        
        &--icons {
            @include flexCol(center, center);
            padding: 0.5rem; 
            margin-left: 0.8rem;
            margin-top: 0.7rem;
            font-size: 1.2rem;     
            cursor: pointer;
            border: 1px solid $gray-color;
            border-radius: 0.6rem;
            
            &--edit {
                margin-bottom: 1rem;
            }
        }
    }
}