@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.tag-filter-results {
    @include flexRow(center, center);
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 1rem 3rem 2rem; 
}