@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.container-upload {
    @include flexCol(center, space-between);
    width: 100%;
    min-height: 100vh;
    background-color: $purple-color;
    padding: 2.5rem;

    &__back {
        color: $white-color;
        font-size: 1.7rem;
        position: absolute;
        left: 1.5rem;
        top: 1.2rem;
        cursor: pointer;
    }

    &__logo {
        width: 15rem;
    }

}