@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.header-main{
    @include flexRow(center, space-between);
    padding: 1rem;
    width: 100%;
    background-color: $white-color;

    &__logo {
        width: 8rem;
    }
}