@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.header-main{
    @include flexRow(center, space-between);
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    background-color: $white-color;
    z-index: 10;

    &__logo {
        width: 8rem;
    }
}